# Copyright (c) 2024 Cole Smith
# SPDX-License-Identifier: MIT

if BOARD_BS_LP_60

config ZMK_KEYBOARD_NAME
	default "bs_lp_60"

if USB_DEVICE_STACK

config USB_NRFX
	default y

endif # USB_DEVICE_STACK

config BT_CTLR
	default BT

config ZMK_BLE
	default y

config ZMK_USB
	default y

endif # BOARD_BS_LP_60
